.information {
    color:darkgreen;
    border:2px solid green;
    padding:10px;
}

.alert {
    color: red;
    border: 2px solid darkred;
    padding:10px;
}

#notes li {

    padding:10px;
    list-style: none;
    border: 1px solid black;
    max-width: 950px;
    overflow: hidden;

}
#notes p {
    margin:0;
    width: 550px;
    float:left;
}
#notes a {
    padding: 20px;
}
#notes div {
    width:220px;
    display:inline-block;
}
#notes div img {
    max-width: 200px;
    max-height: 200px;
}
